{{#if message}}
  <div class="message">
    {{message}}
  </div>
{{/if}}

<form>
  {{input value=email id="email" placeholder="Email"}}
  {{input value=password id="password" placeholder="Password"}}
  {{input value=passwordConfirmation id="password-confirmation" placeholder="Confirm Password"}}

  <button type="submit" {{action 'signup'}}>Signup</button>
</form>
