<aside>
  <ul>
    {{#each model as |patient|}}
      <li>
        {{#link-to 'patients.index.show' patient.id}}{{patient.firstName}} {{patient.lastName}}{{/link-to}}
      </li>
    {{else}}
      <li>Empty</li>
    {{/each}}
  </ul>
</aside>

<div id="patients-overview">
  <table>
    <thead>
      <th class="challenge-completion">Challenge Completion</th>
      <th class="health-risk">Health Risk</th>
      <th class="activity-level">Activity Level</th>
    </thead>
    <tbody>
      {{#each model as |patient|}}
        <tr>
          <td>
            <div class="bar fitness" style="width: {{patient.challengeFitness}}%">{{patient.challengeFitness}}%</div>
            <div class="bar diet" style="width: {{patient.challengeDiet}}%">{{patient.challengeDiet}}%</div>
            <div class="bar stress" style="width: {{patient.challengeStress}}%">{{patient.challengeStress}}%</div>
          </td>
          <td class="health-risk {{patient.healthRisk.change}}">
            {{patient.healthRisk}}
          </td>
          <td class="activity-level {{patient.activityLevel.change}}">
            {{patient.activityLevel}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{outlet 'detail'}}
