<div id="patient" class="pane">

  <table>
    <thead>
      <th class="challenge-completion">Challenge Completion</th>
      <th class="health-risk">Health Risk</th>
      <th class="activity-level">Activity Level</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="bar fitness" style="width: {{model.challengeCompletion.fitness}}%">{{model.challengeCompletion.fitness}}%</div>
          <div class="bar diet" style="width: {{model.challengeCompletion.diet}}%">{{model.challengeCompletion.diet}}%</div>
          <div class="bar stress" style="width: {{model.challengeCompletion.stress}}%">{{model.challengeCompletion.stress}}%</div>
        </td>
        <td>
          {{model.healthRisk.status}}
        </td>
        <td>
          {{model.activityLevel.status}}
        </td>
      </tr>
    </tbody>
  </table>

</div>

{{#link-to 'patients.index' id="view-all" class="button"}}View All{{/link-to}}
