<div id="patient" class="pane">

  <table>
    <thead>
      <th class="challenge-completion">Challenge Completion</th>
      <th class="health-risk">Health Risk</th>
      <th class="activity-level">Activity Level</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="bar fitness" style="width: {{model.challengeFitness}}%">
            <em class="percent">{{model.challengeFitness}}%</em>
            <em>Fitness</em>
          </div>
          <div class="bar diet" style="width: {{model.challengeDiet}}%">
            <em class="percent">{{model.challengeDiet}}%</em>
            <em>Diet</em>
          </div>
          <div class="bar stress" style="width: {{model.challengeStress}}%">
            <em class="percent">{{model.challengeStress}}%</em>
            <em>Strength</em>
          </div>
        </td>
        <td class="health-risk {{model.healthRisk.change}}">
          {{model.healthRisk.status}}
        </td>
        <td class="activity-level {{model.activityLevel.change}}">
          {{model.activityLevel.status}}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="charts">

    {{#each model.charts as |chart|}}
      <div class="column">
        <section class="area-chart">
          <header>
            <em class="measurement">{{chart.measurement}}</em>
            <h2>{{chart.title}}</h2>
          </header>
          {{area-chart data=chart.data}}
        </section>
      </div>
    {{/each}}

  </div>

</div>

{{#link-to 'patients.index' id="view-all" class="button"}}View All{{/link-to}}
