<div id="content" class="patient">

  <table>
    <thead>
      <th>Challenge Completion</th>
      <th>Health Risk</th>
      <th>Activity Level</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="bar fitness" style="width: {{model.challengeCompletion.fitness}}%">{{model.challengeCompletion.fitness}}%</div>
          <div class="bar diet" style="width: {{model.challengeCompletion.diet}}%">{{model.challengeCompletion.diet}}%</div>
          <div class="bar stress" style="width: {{model.challengeCompletion.stress}}%">{{model.challengeCompletion.stress}}%</div>
        </td>
        <td>
          {{model.healthRisk.status}}<br />
        </td>
        <td>
          {{model.activityLevel.status}}<br />
        </td>
      </tr>
    </tbody>
  </table>

</div>
