<div id="patient" class="pane">

  <table>
    <thead>
      <th class="challenge-completion">Challenge Completion</th>
      <th class="health-risk">Health Risk</th>
      <th class="activity-level">Activity Level</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="bar fitness" style="width: {{model.challengeCompletion.fitness}}%">
            <em class="percent">{{model.challengeCompletion.fitness}}%</em>
            <em>Fitness</em>
          </div>
          <div class="bar diet" style="width: {{model.challengeCompletion.diet}}%">
            <em class="percent">{{model.challengeCompletion.diet}}%</em>
            <em>Diet</em>
          </div>
          <div class="bar stress" style="width: {{model.challengeCompletion.stress}}%">
            <em class="percent">{{model.challengeCompletion.stress}}%</em>
            <em>Stress</em>
          </div>
        </td>
        <td class="health-risk {{model.healthRisk.change}}">
          {{model.healthRisk.status}}
        </td>
        <td class="activity-level {{model.activityLevel.change}}">
          {{model.activityLevel.status}}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="charts">

    <div class="column">
      <section class="bar-chart">
        <header>
          <h2>Behavioral Risk Score</h2>
        </header>
        <div class="content">
          <div class="bar-background">
            <div class="bar {{model.behavioralRisk.level}}" style="width: {{model.behavioralRisk.percent}}%">
              <em class="score">{{model.behavioralRisk.score}}</em>
            </div>
          </div>
          <label class="low-risk">Low Risk</label>
          <label class="high-risk">High Risk</label>
          <div class="description">Patient has
            <span class="risk-level {{model.behavioralRisk.level}}">{{model.behavioralRisk.level}}</span>
             of non-adherance based on current behavior pattern
          </div>
        </div>
      </section>
    </div>

    <div class="column">
      <section class="area-chart radar">
        <header>
          <h2>Health Belief Spectrum</h2>
        </header>
        <div class="content">
          {{ember-chart type='radar' data=model.radar width="250" height="160"}}
          <div class="description">Patient has
            <span class="risk-level {{model.behavioralRisk.level}}">{{model.behavioralRisk.level}}</span>
             psychological resistance to behavior change
          </div>
        </div>
      </section>
    </div>

    <div class="column span2">
      <section class="area-chart">
        <header>
          <h2>Behavioral Risk Score Factors</h2>
        </header>
        <img id="logo" src="assets/behaviorial-risk-score-factors.png"/>
      </section>
    </div>

    {{#each model.charts as |chart|}}
      <div class="column">
        <section class="area-chart">
          <header>
            <em class="measurement">{{chart.measurement}}</em>
            <h2>{{chart.title}}</h2>
          </header>
          {{area-chart data=chart.data}}
        </section>
      </div>
    {{/each}}

  </div>

</div>

{{#link-to 'patients.index' id="view-all" class="button"}}View All{{/link-to}}
